<% if params[:column_full] %>
<div class="column is-full">
<% else %>
<div class="column is-one-third">
<% end %>
  <div class="card">
    <div class="card-content">
      <% unless params[:no_link] %>
        <p class="title"><%= link_to customer.full_name, customer %></p>
      <% else %>
        <p class="title"><%= customer.full_name %> </p>
      <% end %>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image is-1by1">
            <%= image_tag(customer.image, size: "150x200", alt: "mullet" ) %>
          </figure>
        </div>
      <% end %>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span class="has-text-weight-semibold">Notes:</span> <%= customer.notes %>
      </p>
      <p class="card-footer-item">
        <span class="has-text-weight-semibold">Phone:</span> <%= customer.phone_number %>
      </p>
      <p class="card-footer-item">
        <span class="has-text-weight-semibold">E-mail:</span> <%= customer.email %>
      </p>
    </footer>
  </div>
</div>